/** Custom color properties */
:root {
  /** Backgrounds */
  --bg-dark: #141414;
  --bg-light: #181818;
  --bg-blue-gradient: linear-gradient(to top, var(--bg-dark) 10%, var(--blue-main) 90%);

  /** Black */
  --black: #000000;
  --black-transparent: #000000b3;
    
  /** Others */
  --red-main: #E50914;
  --white-main: #FFFFFF;
  --grey-main: #403d39;
  --blue-main: #0d1b2a;
}

/** General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button {
  color: var(--white-main);
  font-weight: 400;
}

h1{
  font-size: rem(24);
}

h2{
  font-size: rem(20);
}

p{
  font-size: rem(16);
}

img{
  width: 100%;
}

button:hover{
  cursor: pointer;
}

input {
  appearance: none;
  border-radius: 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}