/** Convert px to rem */
@function rem($pxValue) {
  $remValue: decimal-floor(calc($pxValue / 16), 4);
  @return #{$remValue}rem;
}

/** Custom color properties */
:root {
  --bg-dark: #141414;
  --bg-light: #181818;
  --red: #E50914;
  --white: #FFFFFF;
  --grey: #403d39;
  --black: #000000;
  --black-transparent: #000000b3;
}

/** General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
